@keyframes rainbow {
    0% {
        --vp-c-brand: #00a98e;
        --vp-c-brand-light: #4ad1b4;
        --vp-c-brand-lighter: #78fadc;
        --vp-c-brand-dark: #008269;
        --vp-c-brand-darker: #005d47;
        --vp-c-brand-next: #009ff7
    }

    1.25% {
        --vp-c-brand: #00a996;
        --vp-c-brand-light: #4bd1bd;
        --vp-c-brand-lighter: #79fbe5;
        --vp-c-brand-dark: #008371;
        --vp-c-brand-darker: #005e4f;
        --vp-c-brand-next: #009dfa
    }

    2.5% {
        --vp-c-brand: #00a99f;
        --vp-c-brand-light: #4cd1c6;
        --vp-c-brand-lighter: #7afbee;
        --vp-c-brand-dark: #00837a;
        --vp-c-brand-darker: #005e56;
        --vp-c-brand-next: #009bfc
    }

    3.75% {
        --vp-c-brand: #00a9a7;
        --vp-c-brand-light: #4dd1cf;
        --vp-c-brand-lighter: #7bfbf8;
        --vp-c-brand-dark: #008382;
        --vp-c-brand-darker: #005e5e;
        --vp-c-brand-next: #0098fd
    }

    5% {
        --vp-c-brand: #00a9b0;
        --vp-c-brand-light: #4ed1d7;
        --vp-c-brand-lighter: #7dfaff;
        --vp-c-brand-dark: #00838a;
        --vp-c-brand-darker: #005e65;
        --vp-c-brand-next: #0096fd
    }

    6.25% {
        --vp-c-brand: #00a9b8;
        --vp-c-brand-light: #4fd1e0;
        --vp-c-brand-lighter: #7efaff;
        --vp-c-brand-dark: #008391;
        --vp-c-brand-darker: #005e6d;
        --vp-c-brand-next: #0093fd
    }

    7.5% {
        --vp-c-brand: #00a9c0;
        --vp-c-brand-light: #50d0e8;
        --vp-c-brand-lighter: #7ffaff;
        --vp-c-brand-dark: #008399;
        --vp-c-brand-darker: #005e74;
        --vp-c-brand-next: #2e90fc
    }

    8.75% {
        --vp-c-brand: #00a8c7;
        --vp-c-brand-light: #51d0f0;
        --vp-c-brand-lighter: #81f9ff;
        --vp-c-brand-dark: #0082a0;
        --vp-c-brand-darker: #005e7b;
        --vp-c-brand-next: #4d8dfa
    }

    10% {
        --vp-c-brand: #00a8cf;
        --vp-c-brand-light: #52cff7;
        --vp-c-brand-lighter: #82f8ff;
        --vp-c-brand-dark: #0082a7;
        --vp-c-brand-darker: #005e81;
        --vp-c-brand-next: #638af8
    }

    11.25% {
        --vp-c-brand: #00a7d5;
        --vp-c-brand-light: #53cfff;
        --vp-c-brand-lighter: #84f8ff;
        --vp-c-brand-dark: #0081ae;
        --vp-c-brand-darker: #005d87;
        --vp-c-brand-next: #7587f5
    }

    12.5% {
        --vp-c-brand: #00a6dc;
        --vp-c-brand-light: #55ceff;
        --vp-c-brand-lighter: #85f7ff;
        --vp-c-brand-dark: #0081b4;
        --vp-c-brand-darker: #005d8d;
        --vp-c-brand-next: #8583f1
    }

    13.75% {
        --vp-c-brand: #00a6e2;
        --vp-c-brand-light: #56cdff;
        --vp-c-brand-lighter: #87f6ff;
        --vp-c-brand-dark: #0080b9;
        --vp-c-brand-darker: #005c93;
        --vp-c-brand-next: #9280ed
    }

    15% {
        --vp-c-brand: #00a4e7;
        --vp-c-brand-light: #57ccff;
        --vp-c-brand-lighter: #88f4ff;
        --vp-c-brand-dark: #007fbf;
        --vp-c-brand-darker: #005b98;
        --vp-c-brand-next: #9f7ce9
    }

    16.25% {
        --vp-c-brand: #00a3ec;
        --vp-c-brand-light: #58caff;
        --vp-c-brand-lighter: #89f3ff;
        --vp-c-brand-dark: #007ec3;
        --vp-c-brand-darker: #005b9c;
        --vp-c-brand-next: #aa78e3
    }

    17.5% {
        --vp-c-brand: #00a2f1;
        --vp-c-brand-light: #58c9ff;
        --vp-c-brand-lighter: #8af1ff;
        --vp-c-brand-dark: #007dc8;
        --vp-c-brand-darker: #0059a0;
        --vp-c-brand-next: #b574dd
    }

    18.75% {
        --vp-c-brand: #00a0f4;
        --vp-c-brand-light: #59c7ff;
        --vp-c-brand-lighter: #8bf0ff;
        --vp-c-brand-dark: #007bcb;
        --vp-c-brand-darker: #0058a3;
        --vp-c-brand-next: #be71d7
    }

    20% {
        --vp-c-brand: #009ff7;
        --vp-c-brand-light: #5ac5ff;
        --vp-c-brand-lighter: #8ceeff;
        --vp-c-brand-dark: #007ace;
        --vp-c-brand-darker: #0057a6;
        --vp-c-brand-next: #c76dd1
    }

    21.25% {
        --vp-c-brand: #009dfa;
        --vp-c-brand-light: #5ac3ff;
        --vp-c-brand-lighter: #8decff;
        --vp-c-brand-dark: #0078d0;
        --vp-c-brand-darker: #0055a8;
        --vp-c-brand-next: #cf69c9
    }

    22.5% {
        --vp-c-brand: #009bfc;
        --vp-c-brand-light: #5bc1ff;
        --vp-c-brand-lighter: #8de9ff;
        --vp-c-brand-dark: #0076d2;
        --vp-c-brand-darker: #0053aa;
        --vp-c-brand-next: #d566c2
    }

    23.75% {
        --vp-c-brand: #0098fd;
        --vp-c-brand-light: #5bbfff;
        --vp-c-brand-lighter: #8ee7ff;
        --vp-c-brand-dark: #0074d3;
        --vp-c-brand-darker: #0051ab;
        --vp-c-brand-next: #dc63ba
    }

    25% {
        --vp-c-brand: #0096fd;
        --vp-c-brand-light: #5bbcff;
        --vp-c-brand-lighter: #8ee4ff;
        --vp-c-brand-dark: #0071d4;
        --vp-c-brand-darker: #004fab;
        --vp-c-brand-next: #e160b3
    }

    26.25% {
        --vp-c-brand: #0093fd;
        --vp-c-brand-light: #5bb9ff;
        --vp-c-brand-lighter: #8ee1ff;
        --vp-c-brand-dark: #006fd3;
        --vp-c-brand-darker: #004dab;
        --vp-c-brand-next: #e65eab
    }

    27.5% {
        --vp-c-brand: #2e90fc;
        --vp-c-brand-light: #69b6ff;
        --vp-c-brand-lighter: #99deff;
        --vp-c-brand-dark: #006cd2;
        --vp-c-brand-darker: #004baa;
        --vp-c-brand-next: #e95ca2
    }

    28.75% {
        --vp-c-brand: #4d8dfa;
        --vp-c-brand-light: #7eb3ff;
        --vp-c-brand-lighter: #abdbff;
        --vp-c-brand-dark: #0069d1;
        --vp-c-brand-darker: #0048a9;
        --vp-c-brand-next: #ed5a9a
    }

    30% {
        --vp-c-brand: #638af8;
        --vp-c-brand-light: #8fb0ff;
        --vp-c-brand-lighter: #bbd7ff;
        --vp-c-brand-dark: #3066cf;
        --vp-c-brand-darker: #0045a7;
        --vp-c-brand-next: #ef5992
    }

    31.25% {
        --vp-c-brand: #7587f5;
        --vp-c-brand-light: #9fadff;
        --vp-c-brand-lighter: #cad4ff;
        --vp-c-brand-dark: #4963cc;
        --vp-c-brand-darker: #0941a4;
        --vp-c-brand-next: #f15989
    }

    32.5% {
        --vp-c-brand: #8583f1;
        --vp-c-brand-light: #aea9ff;
        --vp-c-brand-lighter: #d8d1ff;
        --vp-c-brand-dark: #5b5fc8;
        --vp-c-brand-darker: #2e3ea1;
        --vp-c-brand-next: #f25981
    }

    33.75% {
        --vp-c-brand: #9280ed;
        --vp-c-brand-light: #bca6ff;
        --vp-c-brand-lighter: #e6cdff;
        --vp-c-brand-dark: #6a5cc4;
        --vp-c-brand-darker: #413a9d;
        --vp-c-brand-next: #f25a79
    }

    35% {
        --vp-c-brand: #9f7ce9;
        --vp-c-brand-light: #c8a2ff;
        --vp-c-brand-lighter: #f2c9ff;
        --vp-c-brand-dark: #7758c0;
        --vp-c-brand-darker: #503598;
        --vp-c-brand-next: #f25c71
    }

    36.25% {
        --vp-c-brand: #aa78e3;
        --vp-c-brand-light: #d39eff;
        --vp-c-brand-lighter: #fec6ff;
        --vp-c-brand-dark: #8354bb;
        --vp-c-brand-darker: #5c3193;
        --vp-c-brand-next: #f15e69
    }

    37.5% {
        --vp-c-brand: #b574dd;
        --vp-c-brand-light: #de9bff;
        --vp-c-brand-lighter: #ffc2ff;
        --vp-c-brand-dark: #8d50b5;
        --vp-c-brand-darker: #662c8e;
        --vp-c-brand-next: #ef6061
    }

    38.75% {
        --vp-c-brand: #be71d7;
        --vp-c-brand-light: #e897ff;
        --vp-c-brand-lighter: #ffbfff;
        --vp-c-brand-dark: #964baf;
        --vp-c-brand-darker: #6f2688;
        --vp-c-brand-next: #ed635a
    }

    40% {
        --vp-c-brand: #c76dd1;
        --vp-c-brand-light: #f194fa;
        --vp-c-brand-lighter: #ffbcff;
        --vp-c-brand-dark: #9e47a9;
        --vp-c-brand-darker: #772082;
        --vp-c-brand-next: #eb6552
    }

    41.25% {
        --vp-c-brand: #cf69c9;
        --vp-c-brand-light: #f991f2;
        --vp-c-brand-lighter: #ffb9ff;
        --vp-c-brand-dark: #a643a2;
        --vp-c-brand-darker: #7e197c;
        --vp-c-brand-next: #e8694b
    }

    42.5% {
        --vp-c-brand: #d566c2;
        --vp-c-brand-light: #ff8deb;
        --vp-c-brand-lighter: #ffb6ff;
        --vp-c-brand-dark: #ac3f9b;
        --vp-c-brand-darker: #841075;
        --vp-c-brand-next: #e46c44
    }

    43.75% {
        --vp-c-brand: #dc63ba;
        --vp-c-brand-light: #ff8be3;
        --vp-c-brand-lighter: #ffb3ff;
        --vp-c-brand-dark: #b23b94;
        --vp-c-brand-darker: #89046f;
        --vp-c-brand-next: #e06f3d
    }

    45% {
        --vp-c-brand: #e160b3;
        --vp-c-brand-light: #ff88db;
        --vp-c-brand-lighter: #ffb1ff;
        --vp-c-brand-dark: #b7378c;
        --vp-c-brand-darker: #8d0068;
        --vp-c-brand-next: #db7336
    }

    46.25% {
        --vp-c-brand: #e65eab;
        --vp-c-brand-light: #ff86d2;
        --vp-c-brand-lighter: #ffaffb;
        --vp-c-brand-dark: #bb3485;
        --vp-c-brand-darker: #910060;
        --vp-c-brand-next: #d77630
    }

    47.5% {
        --vp-c-brand: #e95ca2;
        --vp-c-brand-light: #ff84ca;
        --vp-c-brand-lighter: #ffadf2;
        --vp-c-brand-dark: #be317d;
        --vp-c-brand-darker: #940059;
        --vp-c-brand-next: #d17a2a
    }

    48.75% {
        --vp-c-brand: #ed5a9a;
        --vp-c-brand-light: #ff83c1;
        --vp-c-brand-lighter: #fface9;
        --vp-c-brand-dark: #c12f75;
        --vp-c-brand-darker: #970052;
        --vp-c-brand-next: #cc7d24
    }

    50% {
        --vp-c-brand: #ef5992;
        --vp-c-brand-light: #ff82b8;
        --vp-c-brand-lighter: #ffabe0;
        --vp-c-brand-dark: #c32d6d;
        --vp-c-brand-darker: #98004b;
        --vp-c-brand-next: #c6811e
    }

    51.25% {
        --vp-c-brand: #f15989;
        --vp-c-brand-light: #ff82af;
        --vp-c-brand-lighter: #ffabd7;
        --vp-c-brand-dark: #c52d65;
        --vp-c-brand-darker: #9a0043;
        --vp-c-brand-next: #bf8418
    }

    52.5% {
        --vp-c-brand: #f25981;
        --vp-c-brand-light: #ff82a7;
        --vp-c-brand-lighter: #ffabce;
        --vp-c-brand-dark: #c52e5e;
        --vp-c-brand-darker: #9a003c;
        --vp-c-brand-next: #b98713
    }

    53.75% {
        --vp-c-brand: #f25a79;
        --vp-c-brand-light: #ff839e;
        --vp-c-brand-lighter: #ffacc5;
        --vp-c-brand-dark: #c62f56;
        --vp-c-brand-darker: #9a0035;
        --vp-c-brand-next: #b28a0f
    }

    55% {
        --vp-c-brand: #f25c71;
        --vp-c-brand-light: #ff8496;
        --vp-c-brand-lighter: #ffadbc;
        --vp-c-brand-dark: #c5314e;
        --vp-c-brand-darker: #99002e;
        --vp-c-brand-next: #ab8d0c
    }

    56.25% {
        --vp-c-brand: #f15e69;
        --vp-c-brand-light: #ff868d;
        --vp-c-brand-lighter: #ffaeb4;
        --vp-c-brand-dark: #c43447;
        --vp-c-brand-darker: #980027;
        --vp-c-brand-next: #a3900b
    }

    57.5% {
        --vp-c-brand: #ef6061;
        --vp-c-brand-light: #ff8885;
        --vp-c-brand-lighter: #ffb0ab;
        --vp-c-brand-dark: #c3373f;
        --vp-c-brand-darker: #970020;
        --vp-c-brand-next: #9c920d
    }

    58.75% {
        --vp-c-brand: #ed635a;
        --vp-c-brand-light: #ff8a7d;
        --vp-c-brand-lighter: #ffb2a3;
        --vp-c-brand-dark: #c13b38;
        --vp-c-brand-darker: #940619;
        --vp-c-brand-next: #949510
    }

    60% {
        --vp-c-brand: #eb6552;
        --vp-c-brand-light: #ff8d76;
        --vp-c-brand-lighter: #ffb59b;
        --vp-c-brand-dark: #be3e31;
        --vp-c-brand-darker: #921111;
        --vp-c-brand-next: #8b9715
    }

    61.25% {
        --vp-c-brand: #e8694b;
        --vp-c-brand-light: #ff8f6e;
        --vp-c-brand-lighter: #ffb794;
        --vp-c-brand-dark: #bb4229;
        --vp-c-brand-darker: #8f1908;
        --vp-c-brand-next: #83991b
    }

    62.5% {
        --vp-c-brand: #e46c44;
        --vp-c-brand-light: #ff9367;
        --vp-c-brand-lighter: #ffba8c;
        --vp-c-brand-dark: #b74622;
        --vp-c-brand-darker: #8c1f00;
        --vp-c-brand-next: #7a9b21
    }

    63.75% {
        --vp-c-brand: #e06f3d;
        --vp-c-brand-light: #ff9661;
        --vp-c-brand-lighter: #ffbd86;
        --vp-c-brand-dark: #b44a1a;
        --vp-c-brand-darker: #882500;
        --vp-c-brand-next: #719d27
    }

    65% {
        --vp-c-brand: #db7336;
        --vp-c-brand-light: #ff995a;
        --vp-c-brand-lighter: #ffc17f;
        --vp-c-brand-dark: #af4e11;
        --vp-c-brand-darker: #842a00;
        --vp-c-brand-next: #679e2e
    }

    66.25% {
        --vp-c-brand: #d77630;
        --vp-c-brand-light: #ff9c54;
        --vp-c-brand-lighter: #ffc47a;
        --vp-c-brand-dark: #ab5206;
        --vp-c-brand-darker: #802f00;
        --vp-c-brand-next: #5da035
    }

    67.5% {
        --vp-c-brand: #d17a2a;
        --vp-c-brand-light: #fea04f;
        --vp-c-brand-lighter: #ffc774;
        --vp-c-brand-dark: #a55600;
        --vp-c-brand-darker: #7b3300;
        --vp-c-brand-next: #51a13c
    }

    68.75% {
        --vp-c-brand: #cc7d24;
        --vp-c-brand-light: #f8a34a;
        --vp-c-brand-lighter: #ffca70;
        --vp-c-brand-dark: #a05900;
        --vp-c-brand-darker: #773700;
        --vp-c-brand-next: #44a244
    }

    70% {
        --vp-c-brand: #c6811e;
        --vp-c-brand-light: #f2a646;
        --vp-c-brand-lighter: #ffce6c;
        --vp-c-brand-dark: #9b5d00;
        --vp-c-brand-darker: #713b00;
        --vp-c-brand-next: #34a44b
    }

    71.25% {
        --vp-c-brand: #bf8418;
        --vp-c-brand-light: #ebaa42;
        --vp-c-brand-lighter: #ffd168;
        --vp-c-brand-dark: #956000;
        --vp-c-brand-darker: #6c3e00;
        --vp-c-brand-next: #1ba553
    }

    72.5% {
        --vp-c-brand: #b98713;
        --vp-c-brand-light: #e4ad3f;
        --vp-c-brand-lighter: #ffd466;
        --vp-c-brand-dark: #8e6300;
        --vp-c-brand-darker: #674100;
        --vp-c-brand-next: #00a65b
    }

    73.75% {
        --vp-c-brand: #b28a0f;
        --vp-c-brand-light: #ddb03d;
        --vp-c-brand-lighter: #ffd764;
        --vp-c-brand-dark: #886600;
        --vp-c-brand-darker: #614400;
        --vp-c-brand-next: #00a663
    }

    75% {
        --vp-c-brand: #ab8d0c;
        --vp-c-brand-light: #d5b33c;
        --vp-c-brand-lighter: #ffda63;
        --vp-c-brand-dark: #816900;
        --vp-c-brand-darker: #5b4700;
        --vp-c-brand-next: #00a76c
    }

    76.25% {
        --vp-c-brand: #a3900b;
        --vp-c-brand-light: #cdb63c;
        --vp-c-brand-lighter: #f8dd63;
        --vp-c-brand-dark: #7a6b00;
        --vp-c-brand-darker: #554900;
        --vp-c-brand-next: #00a874
    }

    77.5% {
        --vp-c-brand: #9c920d;
        --vp-c-brand-light: #c5b83d;
        --vp-c-brand-lighter: #f0e064;
        --vp-c-brand-dark: #736e00;
        --vp-c-brand-darker: #4e4b00;
        --vp-c-brand-next: #00a87d
    }

    78.75% {
        --vp-c-brand: #949510;
        --vp-c-brand-light: #bdbb3e;
        --vp-c-brand-lighter: #e7e366;
        --vp-c-brand-dark: #6c7000;
        --vp-c-brand-darker: #474d00;
        --vp-c-brand-next: #00a985
    }

    80% {
        --vp-c-brand: #8b9715;
        --vp-c-brand-light: #b4bd41;
        --vp-c-brand-lighter: #dee668;
        --vp-c-brand-dark: #647200;
        --vp-c-brand-darker: #404f00;
        --vp-c-brand-next: #00a98e
    }

    81.25% {
        --vp-c-brand: #83991b;
        --vp-c-brand-light: #abc045;
        --vp-c-brand-lighter: #d4e86c;
        --vp-c-brand-dark: #5c7400;
        --vp-c-brand-darker: #385100;
        --vp-c-brand-next: #00a996
    }

    82.5% {
        --vp-c-brand: #7a9b21;
        --vp-c-brand-light: #a2c249;
        --vp-c-brand-lighter: #cbea70;
        --vp-c-brand-dark: #537600;
        --vp-c-brand-darker: #2f5200;
        --vp-c-brand-next: #00a99f
    }

    83.75% {
        --vp-c-brand: #719d27;
        --vp-c-brand-light: #98c44e;
        --vp-c-brand-lighter: #c1ec75;
        --vp-c-brand-dark: #4a7700;
        --vp-c-brand-darker: #255300;
        --vp-c-brand-next: #00a9a7
    }

    85% {
        --vp-c-brand: #679e2e;
        --vp-c-brand-light: #8ec654;
        --vp-c-brand-lighter: #b7ee7a;
        --vp-c-brand-dark: #407900;
        --vp-c-brand-darker: #185500;
        --vp-c-brand-next: #00a9b0
    }

    86.25% {
        --vp-c-brand: #5da035;
        --vp-c-brand-light: #84c75a;
        --vp-c-brand-lighter: #acf080;
        --vp-c-brand-dark: #357a0a;
        --vp-c-brand-darker: #015600;
        --vp-c-brand-next: #00a9b8
    }

    87.5% {
        --vp-c-brand: #51a13c;
        --vp-c-brand-light: #79c961;
        --vp-c-brand-lighter: #a1f287;
        --vp-c-brand-dark: #277b16;
        --vp-c-brand-darker: #005700;
        --vp-c-brand-next: #00a9c0
    }

    88.75% {
        --vp-c-brand: #44a244;
        --vp-c-brand-light: #6dca68;
        --vp-c-brand-lighter: #96f48e;
        --vp-c-brand-dark: #117c1f;
        --vp-c-brand-darker: #005700;
        --vp-c-brand-next: #00a8c7
    }

    90% {
        --vp-c-brand: #34a44b;
        --vp-c-brand-light: #60cc70;
        --vp-c-brand-lighter: #89f595;
        --vp-c-brand-dark: #007d28;
        --vp-c-brand-darker: #005801;
        --vp-c-brand-next: #00a8cf
    }

    91.25% {
        --vp-c-brand: #1ba553;
        --vp-c-brand-light: #51cd77;
        --vp-c-brand-lighter: #7cf69d;
        --vp-c-brand-dark: #007e30;
        --vp-c-brand-darker: #00590d;
        --vp-c-brand-next: #00a7d5
    }

    92.5% {
        --vp-c-brand: #00a65b;
        --vp-c-brand-light: #48ce80;
        --vp-c-brand-lighter: #75f7a6;
        --vp-c-brand-dark: #007f38;
        --vp-c-brand-darker: #005917;
        --vp-c-brand-next: #00a6dc
    }

    93.75% {
        --vp-c-brand: #00a663;
        --vp-c-brand-light: #48cf88;
        --vp-c-brand-lighter: #75f8ae;
        --vp-c-brand-dark: #008040;
        --vp-c-brand-darker: #005a20;
        --vp-c-brand-next: #00a6e2
    }

    95% {
        --vp-c-brand: #00a76c;
        --vp-c-brand-light: #49cf91;
        --vp-c-brand-lighter: #76f9b7;
        --vp-c-brand-dark: #008049;
        --vp-c-brand-darker: #005b28;
        --vp-c-brand-next: #00a4e7
    }

    96.25% {
        --vp-c-brand: #00a874;
        --vp-c-brand-light: #49d099;
        --vp-c-brand-lighter: #76f9c0;
        --vp-c-brand-dark: #008151;
        --vp-c-brand-darker: #005c30;
        --vp-c-brand-next: #00a3ec
    }

    97.5% {
        --vp-c-brand: #00a87d;
        --vp-c-brand-light: #49d0a2;
        --vp-c-brand-lighter: #77fac9;
        --vp-c-brand-dark: #008159;
        --vp-c-brand-darker: #005c37;
        --vp-c-brand-next: #00a2f1
    }

    98.75% {
        --vp-c-brand: #00a985;
        --vp-c-brand-light: #4ad1ab;
        --vp-c-brand-lighter: #77fad3;
        --vp-c-brand-dark: #008261;
        --vp-c-brand-darker: #005d3f;
        --vp-c-brand-next: #00a0f4
    }

    to {
        --vp-c-brand: #00a98e;
        --vp-c-brand-light: #4ad1b4;
        --vp-c-brand-lighter: #78fadc;
        --vp-c-brand-dark: #008269;
        --vp-c-brand-darker: #005d47;
        --vp-c-brand-next: #009ff7
    }
}
:root {
    --vp-c-white: #ffffff;
    --vp-c-black: #000000;
    --vp-c-gray: #8e8e93;
    --vp-c-text-light-1: rgba(60, 60, 67);
    --vp-c-text-light-2: rgba(60, 60, 67, .75);
    --vp-c-text-light-3: rgba(60, 60, 67, .33);
    --vp-c-text-dark-1: rgba(255, 255, 245, .86);
    --vp-c-text-dark-2: rgba(235, 235, 245, .6);
    --vp-c-text-dark-3: rgba(235, 235, 245, .38);
    --vp-c-green: #10b981;
    --vp-c-green-light: #34d399;
    --vp-c-green-lighter: #6ee7b7;
    --vp-c-green-dark: #059669;
    --vp-c-green-darker: #047857;
    --vp-c-green-dimm-1: rgba(16, 185, 129, .05);
    --vp-c-green-dimm-2: rgba(16, 185, 129, .2);
    --vp-c-green-dimm-3: rgba(16, 185, 129, .5);
    --vp-c-yellow: #d97706;
    --vp-c-yellow-light: #f59e0b;
    --vp-c-yellow-lighter: #fbbf24;
    --vp-c-yellow-dark: #b45309;
    --vp-c-yellow-darker: #92400e;
    --vp-c-yellow-dimm-1: rgba(234, 179, 8, .05);
    --vp-c-yellow-dimm-2: rgba(234, 179, 8, .2);
    --vp-c-yellow-dimm-3: rgba(234, 179, 8, .5);
    --vp-c-red: #f43f5e;
    --vp-c-red-light: #fb7185;
    --vp-c-red-lighter: #fda4af;
    --vp-c-red-dark: #e11d48;
    --vp-c-red-darker: #be123c;
    --vp-c-red-dimm-1: rgba(244, 63, 94, .05);
    --vp-c-red-dimm-2: rgba(244, 63, 94, .2);
    --vp-c-red-dimm-3: rgba(244, 63, 94, .5);
    --vp-c-sponsor: #db2777;
}
:root {
    --colors-scale6: #343434;
    --tw-gradient-stops: rgba(0, 0, 0, 0), rgb(52, 52, 52), rgba(0, 0, 0, 0);
    --vp-c-bg: #ffffff;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-elv-up: #ffffff;
    --vp-c-bg-elv-down: #f6f6f7;
    --vp-c-bg-elv-mute: #f6f6f7;
    --vp-c-bg-soft: #f6f6f7;
    --vp-c-bg-soft-up: #f9f9fa;
    --vp-c-bg-soft-down: #e3e3e5;
    --vp-c-bg-soft-mute: #e3e3e5;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-border: rgba(60, 60, 67, .29);
    --vp-c-divider: rgba(60, 60, 67, .12);
    --vp-c-gutter: rgba(60, 60, 67, .12);
    --vp-c-neutral: var(--vp-c-black);
    --vp-c-neutral-inverse: var(--vp-c-white);
    --vp-c-text-1: var(--vp-c-text-light-1);
    --vp-c-text-2: var(--vp-c-text-light-2);
    --vp-c-text-3: var(--vp-c-text-light-3);
    --vp-c-text-inverse-1: var(--vp-c-text-dark-1);
    --vp-c-text-inverse-2: var(--vp-c-text-dark-2);
    --vp-c-text-inverse-3: var(--vp-c-text-dark-3);
    --vp-c-text-code: #476582;
    --vp-c-brand: var(--vp-c-green);
    --vp-c-brand-light: var(--vp-c-green-light);
    --vp-c-brand-lighter: var(--vp-c-green-lighter);
    --vp-c-brand-dark: var(--vp-c-green-dark);
    --vp-c-brand-darker: var(--vp-c-green-darker);
    --vp-c-mute: #f6f6f7;
    --vp-c-mute-light: #f9f9fc;
    --vp-c-mute-lighter: #ffffff;
    --vp-c-mute-dark: #e3e3e5;
    --vp-c-mute-darker: #d7d7d9;
}

:root {
    --vp-home-hero-name-color: transparent;
    --vp-home-hero-name-background: -webkit-linear-gradient( 120deg, var(--vp-c-brand) 30%, var(--vp-c-brand-next) );
    --vp-home-hero-image-background-image: linear-gradient( -45deg, var(--vp-c-brand) 30%, var(--vp-c-brand-next) );
    --vp-home-hero-image-filter: blur(80px);
}

:root {
    --vp-c-brand: #00a98e;
    --vp-c-brand-light: #4ad1b4;
    --vp-c-brand-lighter: #78fadc;
    --vp-c-brand-dark: #008269;
    --vp-c-brand-darker: #005d47;
    --vp-c-brand-next: #009ff7;
    animation: rainbow 8s linear infinite;
}

body {
    background-color: rgb(28, 28, 28);
    color: rgb(230, 236, 233);
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    border-bottom: 1px solid rgb(44, 44, 44);
    padding: 0.8rem 1rem;
    background-color: #1c1c1c;
}

.nav-left {
    margin-right: 1rem;
}

.nav-center {
    flex: 1 0 auto;
    padding: 0 1rem;
}
.menu-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu-item {
    margin-right: 0.8rem;
}

.menu-item a {
    text-decoration: none;
    color: rgb(230, 236, 233);
}
.menu-item a:hover {
    color: #3fcf8e;
}

.main {
    padding: 1rem 0;
}

.intro {
    padding-top: 60px;
    max-width: 100%;

}


.intro-box {
    text-align: center;
    color: #ededed;
}

.intro_description {
    margin: 0 auto 64px;
}

/* .intro_title {
    color: var(--vp-c-brand-lighter);
    transition: color .25s;
} */
.intro_title {
    color: var(--vp-home-hero-name-color);
}
.clip {
    background: var(--vp-home-hero-name-background);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: var(--vp-home-hero-name-color);
}


@media (min-width: 1200px) {
    .intro_title {
        font-size:7rem
    }

    .intro_description {
        font-size: 1.5rem;
        max-width: 780px
    }
}

@media (max-width: 960px) {
    .intro_title {
        display:flex;
        flex-direction: column;
        font-size: 6rem
    }
}

@media (max-width: 720px) {
    .intro_title {
        font-size:4.5rem
    }
}

@media (min-height: 1120px) {
    .intro_title {
        display:flex;
        flex-direction: column;
        font-size: 8rem;
        margin-bottom: 24px
    }
}

.intro_button {
    width: 400px;
    max-width: 100%;
    margin: 0 auto 96px;
}

.intro_button_btn {
    outline: 0;
    background-color: rgb(43, 130, 91);
    color: #fff;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid rgb(43, 130, 91);
    transition: background-color 0.3s;
}

.intro_button_link:hover .intro_button_btn {
    background-color: transparent;
    color: rgb(43, 130, 91);
}

.truncate {
    overflow: hidden;
    white-space: nowrap
}

.text-ellipsis,.truncate {
    text-overflow: ellipsis
}

.diver {
    width: 50%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
}


.to-transparent {
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.via-scale-600 {
    --tw-gradient-to: hsla(0,0%,100%,0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),var(--colors-scale6) var(--tw-gradient-via-position),var(--tw-gradient-to);
}
.from-transparent {
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(52, 52, 52), rgba(0, 0, 0, 0));
}

.section-list {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 96px auto;
}

.section-item {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.section-item img {
    max-width: 100%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.section-left, .section-right {
    flex: 1 0 auto;
    width: 50%;
    padding: 0 1rem;
    box-sizing: border-box;
}

.section-left {
    display: flex;
    align-items: center;
}

.section-text {
    padding: 0 1rem;
}

.section-box-title {
    color: #3fcf8e;
}

.footer {
    border-top: 1px solid #343434;
    padding: 64px 24px;
    font-size: .875rem;
}

.footer_marketingFooter {
    display: flex;
    justify-content: center;
}

.footer_group {
    margin-right: 24px;
    width: 200px;
}

.footer_item {
    padding: 8px 0;
}

.footer_item a {
    color: #888;
    transition: color .1s ease;
    text-decoration: none;
}

.footer_item a:hover {
    color: #fff;
}

.footer_header {
    font-weight: 400;
    font-size: 1rem;
    margin: 12px 0;
}

.footer-logo {
    margin-right: 24px;
    width: 180px;
}

.copyright-box {
    text-align: center;
    margin: 24px auto 0;
    padding: 24px 0;
}

.section-box-title {
    font-size: 2.5em;
}

.section-box-text {
    font-size: 1.5em;
}